/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* stylelint-disable */
 :root {
	/* Tailwind Weights */
	--hairline: 100;
	--thin: 200;
	--light: 300;
	--normal: 400;
	--medium: 500;
	--semibold: 600;
	--bold: 700;
	--extrabold: 800;
	--superbold: 800;

	/* Tailwind Colors */
	--indigo-100: #ebf4ff;
	--indigo-200: #c3dafe;
	--indigo-300: #a3bffa;
	--indigo-400: #7f9cf5;
	--indigo-500: #667eea;
	--indigo-600: #5741d9;
	--indigo-700: #4c51bf;
	--indigo-800: #434190;
	--indigo-900: #3c366b;

	--gray-100: #f7fafc;
	--gray-200: #edf2f7;
	--gray-300: #e2e8f0;
	--gray-400: #cbd5e0;
	--gray-500: #a0aec0;
	--gray-600: #718096;
	--gray-700: #515153;
	--gray-800: #2d3748;
	--gray-900: #1a202c;

	--red-100: #fff5f5;
	--red-200: #fed7d7;
	--red-300: #feb2b2;
	--red-400: #fc8181;
	--red-500: #f56565;
	--red-600: #e53e3e;
	--red-700: #c53030;
	--red-800: #9b2c2c;
	--red-900: #742a2a;

	--orange-100: #fffaf0;
	--orange-200: #feebc8;
	--orange-300: #fbd38d;
	--orange-400: #f6ad55;
	--orange-500: #ed8936;
	--orange-600: #dd6b20;
	--orange-700: #c05621;
	--orange-800: #9c4221;
	--orange-900: #7b341e;

	--yellow-100: #fffff0;
	--yellow-200: #fefcbf;
	--yellow-300: #faf089;
	--yellow-400: #f6e05e;
	--yellow-500: #ecc94b;
	--yellow-600: #ffc600;
	--yellow-700: #b7791f;
	--yellow-800: #975a16;
	--yellow-900: #744210;

	--green-100: #f0fff4;
	--green-200: #c6f6d5;
	--green-300: #9ae6b4;
	--green-400: #68d391;
	--green-500: #48bb78;
	--green-600: #38a169;
	--green-700: #2f855a;
	--green-800: #276749;
	--green-900: #22543d;

	--teal-100: #e6fffa;
	--teal-200: #b2f5ea;
	--teal-300: #81e6d9;
	--teal-400: #4fd1c5;
	--teal-500: #38b2ac;
	--teal-600: #319795;
	--teal-700: #2c7a7b;
	--teal-800: #285e61;
	--teal-900: #234e52;

	--blue-100: #ebf8ff;
	--blue-200: #bee3f8;
	--blue-300: #90cdf4;
	--blue-400: #4299e1;
	--blue-500: #3182ce;
	--blue-600: #0273b9;
	--blue-700: #2b6cb0;
	--blue-800: #285078;
	--blue-900: #2a4365;

	--purple-100: #faf5ff;
	--purple-200: #e9d8fd;
	--purple-300: #d6bcfa;
	--purple-400: #b794f4;
	--purple-500: #9f7aea;
	--purple-600: #805ad5;
	--purple-700: #6b46c1;
	--purple-800: #553c9a;
	--purple-900: #44337a;

	--pink-100: #fff5f7;
	--pink-200: #fed7e2;
	--pink-300: #fbb6ce;
	--pink-400: #f687b3;
	--pink-500: #ed64a6;
	--pink-600: #d53f8c;
	--pink-700: #b83280;
	--pink-800: #97266d;
	--pink-900: #702459;

	/* END Tailwind Colors */

	--global-font-color: var(--gray-700);
	--global-font-family: inter, ubuntu, serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;
	--highlight-font-family: "noto sans", -apple-system, system-ui, blinkmacsystemfont, sans-serif;
	--content-width: 45rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-theme-primary: var(--indigo-600);
	--color-theme-secondary: var(--indigo-600);
	--color-theme-red: var(--red-600);
	--color-theme-green: var(--green-600);
	--color-theme-blue: var(--blue-600);
	--color-theme-yellow: var(--yellow-500);
	--color-theme-black: var(--gray-800);
	--color-theme-grey: var(--gray-500);
	--color-theme-white: #ecf0f1;
	--color-custom-daylight: var(--teal-300);
	--color-custom-sun: var(--yellow-200);

	--color-link: var(--indigo-600);
	--color-link-visited: var(--indigo-800);
	--color-link-active: var(--blue-800);

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* prefered timing function */
	--transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* @link https://www.fluiditype.com */
	--fontSize: calc(12px + 0.698vw);
	--lineHeight: calc(var(--fontSize) * 1.4);
	--letterSpacing: calc(var(--fontSize) * 0.0015);
	--fontWeight: 300;
}


/* Make all the links look a little boilder */
a {
	color: #5741d9;
	font-weight: 600;
}

/* Shade every other row in backend/admin tables */
tr:nth-of-type(even) {
	background: rgba(150, 174, 192, 0.4);
}

/* Description Column */
th#description {
	width: 30%;
}
/* ID Column */
.fixed .column-id {
	width: 6ex;
	font-weight: 600;
	color: #5741d9;
}
/* project admin page*/
.post-type-project .fixed .column-id {
	width: 20%;
	font-weight: 600;
	color: #5741d9;
	border-right: 2px solid var(--indigo-600);
}


/* Slug Column */
.fixed .column-slug {
	width: 8ex;
	font-weight: 600;
	color: #5741d9;
}

/* Name Column */
.column-name {
	width: 20%;
}

/* 'Count' Column */
.fixed .column-posts {
	width: 10ex;
}

/* Edit, delete, quick erdi, view links */
div.row-actions: hover > span.edit {
	font-weight: 600;
}

.edit,
.delete,
.view a {
	color: #515;

}

div#jobStatusConditionalFieldsContainer {
	background: var(--indigo-400);
}

i.material-icons {
	--bg: var(--indigo-700);
	--border: var(--indigo-400);
	font-size: 2.7rem;
	background-color: var(--bg);
	padding: .5rem;
	border-radius: 50%;
	border: 4px solid var(--border);
}
.indigo { color: var(--indigo-400); }
.yellow { color: var(--yellow-400); }
.red { color: var(--red-400); }
.green { color: var(--green-400); }

